<div class="d-flex" id="wrapper" class="{{toggled}}">


    <div class="bg-light border-right" id="sidebar-wrapper">
        <div class="sidebar-heading"> Menú lateral</div>
        <div class="list-group list-group-flush">

            <div class="dropdown">
                <button class="list-group-item list-group-item-action bg-light dropdown-toggle" type="button"
                    id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    <i class="fad fa-folder-open icono"></i>Expediente
                </button>
                <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                    <a class="dropdown-item" routerLink="requests" (click)="sideBar()"> <i
                            class="fas fa-question-circle icono"></i>Solicitudes</a>
                    <a class="dropdown-item" routerLink="services" (click)="sideBar()"> <i
                            class="fas fa-users-cog icono"></i>Servicios</a>
                    <a class="dropdown-item" routerLink="supports" (click)="sideBar()"> <i
                            class="fas fa-tools icono"></i>Soportes</a>
                    <a class="dropdown-item" routerLink="needs" (click)="sideBar()"> <i
                            class="fas fa-user-clock icono"></i>Necesidades</a>
                    <a class="dropdown-item" routerLink="notes" (click)="sideBar()"> <i
                            class="far fa-clipboard-list-check icono"></i>Notas</a>
                </div>
            </div>

            <a routerLink="send/request" class="list-group-item list-group-item-action bg-light" (click)="sideBar()"> <i class="fas fa-calendar-alt icono"></i>Enviar Solicitudes</a>

            <a href="#" class="list-group-item list-group-item-action bg-light" (click)="sideBar()">Status</a>

        </div>
    </div>


    <div id="page-content-wrapper">

        <nav class="navbar navbar-expand-lg navbar-dark bg-dark">

            <button class="btn btn-primary navbar-brand" id="menu-toggle" (click)="sideBar()" *ngIf="loggedIn">
                <i class="fas fa-bars"></i>
            </button>

            <a class="navbar-brand" href="#"> CRM <span class="text-primary">System</span>
                <img src="https://img.icons8.com/color/48/000000/casta-rica-circular.png" />
            </a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor02"
                aria-controls="navbarColor02" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <ul class="navbar-nav mx-auto">
                <li class="nav-item active">
                    <a class="nav-link" href="#" routerLink="/">Inicio <span class="sr-only">(current)</span></a>
                </li>
            </ul>

            <div class="collapse navbar-collapse" id="navbarColor02">

                <ul class="navbar-nav ml-auto">
                    <li class="nav-item">
                        <a class="nav-link" routerLink="login" *ngIf="!loggedIn">Iniciar sesión <span
                                class="sr-only">(current)</span></a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" routerLink="profile" *ngIf="loggedIn">Perfil</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#" (click)="logout($event)" *ngIf="loggedIn">Cerrar sesión</a>
                    </li>
                </ul>

            </div>

        </nav>

        <div class="container-fluid">

            <router-outlet></router-outlet>

        </div>

    </div>


</div>