<div class="container col-10">

    <br>
    <p></p>

    <div class='container-fluid'>

        <div class='col-12'>
            <ngb-carousel>
                <ng-template ngbSlide>
                    <div class="picsum-img-wrapper">
                        <img src="../../../assets/img/Diseño_Web.jpg" alt="Random first slide" width="100%">
                    </div>
                    <div class="carousel-caption">
                        <h3 style="color: yellow">Diseño Web</h3>
                        <h3>
                            <p>Diseño y creación de páginas web, correo corporativo, formulario de contacto, diseño
                                responsivo y soporte activo.</p>
                        </h3>
                    </div>
                </ng-template>
                <ng-template ngbSlide>
                    <div class="picsum-img-wrapper">
                        <img src="../../../assets/img/Desarrollo_Web.jpg" alt="Random first slide" width="100%">
                    </div>
                    <div class="carousel-caption">
                        <div class="carousel-caption">
                            <h3 style="color: yellow">Desarrollo Web</h3>
                            <h3>
                                <p>Agiliza tus procesos y centraliza tu información, brindamos desarrollo de software
                                    adaptandonos a las necesidades de su empresa.</p>
                            </h3>
                        </div>
                    </div>
                </ng-template>
                <ng-template ngbSlide>
                    <div class="picsum-img-wrapper">
                        <img src="../../../assets/img/Redes.jpg" alt="Random first slide" width="100%">
                    </div>
                    <div class="carousel-caption">
                        <h3 style="color: yellow">Redes</h3>
                        <h3>
                            <p>Desarrollo de proyectos con tecnología de punta, administración, monitoreo y protección
                                de datos.</p>
                        </h3>
                    </div>
                </ng-template>
                <ng-template ngbSlide>
                    <div class="picsum-img-wrapper">
                        <img src="../../../assets/img/Soporte.jpg" alt="Random first slide" width="100%">
                    </div>
                    <div class="carousel-caption">
                        <h3 style="color: yellow">Soporte Técnico</h3>
                        <h3>
                            <p>Personal responsable y capacitado en cada una de nuestras áreas, soporte y matenimiento
                                presencial o remoto.</p>
                        </h3>
                    </div>
                </ng-template>
            </ngb-carousel>
        </div>

    </div>

</div>